/* roots and customs */
:root {
  --clr-primary: #01209f;
  --clr-midtone: #9c31c7;
  --clr-darktone: ;
  --clr-contrast1: ;
  --clr-contrast2: ;
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "DotGothic16", sans-serif;
  --ff-accent2: "Rajdhani", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;

  background-image: linear-gradient(to left, #e6e5e7, #bebcc2, #e6e5e7);
}
li {
  list-style-type: none;
  padding: 0 2rem;
}
.header {
  font-family: var(--ff-accent2);
  background-image: linear-gradient(to left, #01209f, black);

  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}
.title {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
  grid-area: title;
  color: white;
  /* width: 100%; */
}
.title > h2 {
  font-size: 2rem;
  padding-top: 1rem;
}
.title > h1 {
  font-size: 3rem;
}
.title > p {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}

.header-img {
  float: right;
  margin-left: 1rem;
  width: 500px;
}

.rps {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  grid-area: rps;
}
.rock,
.paper,
.scissors {
  /* background-color: blue; */
  padding: 0 3rem;
}
.rps img {
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
.rps img:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 30px var(--clr-midtone);
}
.rps img:active {
  box-shadow: 0px 0px 30px white;
}
.choices {
  font-family: var(--ff-accent);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  grid-area: choices;
}
.choice-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choices > div {
  padding: 0 1rem;
}
#term-avatar {
  border-radius: 50%;
  margin-left: 3rem;
  border: 2px solid white;
  margin-right: 10px;
}
#sarah-avatar {
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 10px;
}
.choice-mobile > span {
  margin-right: 1rem;
  color: var(--clr-primary);
}
.winner {
  font-size: 1.5rem;
  color: red;
  text-align: center;
  grid-area: winner;
  padding: 1rem;
}
.score {
  font-size: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: score;
  padding: 1rem;
}
.victor {
  font-size: 1.5rem;
  color: purple;
  grid-area: victor;
  text-align: center;
}
.container {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-areas:
    "header"
    "rps"
    "choices"
    "winner"
    "score"
    "victor";
  align-content: center;
}
.main-body {
  margin: auto;
  text-align: center;
}
.hidden {
  visibility: hidden;
  height: 0;
}
@media screen and (max-width: 800px) {
  .title > p {
    font-size: 1rem;
  }

  .header-img {
    float: right;
    margin: 0;
    width: 100vw;
  }
  .rock,
  .paper,
  .scissors {
    /* background-color: blue; */
    padding: 0 1rem;
  }
  .rps img {
    width: 75px;
    border-radius: 10px;
  }
  /* .choices, */
  .score {
    flex-direction: column;
  }
  #term-avatar,
  #sarah-avatar {
    margin: 0;
  }
  .choice-mobile {
    display: flex;
    flex-direction: column;
  }
  .choice-mobile > span {
    margin-right: 0;
  }
}
