/* roots and customs */
:root {
  --clr-primary: #01209f;
  --clr-midtone: #9c31c7;
  --clr-darktone: ;
  --clr-contrast1: rgb(233, 230, 230);
  --clr-contrast2: ;
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "DotGothic16", sans-serif;
  --ff-accent2: "Rajdhani", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* *:hover {
  outline: 1px solid red;
} */
body {
  /* border: 2px solid green; */
  /* width: 100vw; */
  color: var(--clr-contrast1);
  font-family: var(--ff-accent2);
  /* background-image: url("images/Fortnite-Sarah-Connor-T-800-Terminator-1024x616.jpg"); */
  /* background-size: cover; */
  background-image: linear-gradient(to left, #e6e5e7, #bebcc2, #e6e5e7);
}
.container {
  /* border: 2px solid yellow; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* width: 100vw; */
}
nav {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, #01209f, black);
  padding: 10px;
  background-color: red;
}
.app-title {
  font-size: 1.5rem;
  /* background-color: black; */
}
#rules-btn {
  color: var(--clr-contrast1);
  text-align: center;
  /* padding:0; */
  /* background-color: black; */
  /* position: absolute; */
  z-index: 500;
  /* top: 400px; */
  /* right: 0px; */
  cursor: pointer;
  /* font-family: var(--ff-accent); */
  /* font-weight: 900; */
  font-size: 1.5rem;
}
#rules-btn:hover {
  color: gold;
}
#rules {
  z-index: 1000;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  padding: 10px;
  /* opacity: 0; */
  transition: all 0.25s ease-in-out;
  font-size: 1.1rem;
  /* using diplay: none so it doesn't interfere with other element hover effects */
  display: none;
}
#rules-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: gold;
}

main {
  min-height: 100vh;
}
.header {
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* font-family: var(--ff-accent2); */
  background-image: linear-gradient(to left, #01209f, black);
  /* padding-right: 1rem; */
}
.game {
  align-self: center;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
  /* height: 100%; */
  color: var(--clr-contrast1);
}

.header-img {
  /* float: right; */
  /* margin-left: 1rem; */
  /* max-height: 100%; */
  width: 500px;
  /* object-fit: contain; */
}

.choices {
  /* background-color: blue; */
  font-family: var(--ff-accent);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */

  padding: 0 1rem 1rem 1rem;
  text-align: center;
}
.choice-mobile {
  /* background-color: black; */
  /* width: 50%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.player-choice,
.term-choice {
  width: 8rem;
}
/* .choices > div {
  padding: 0 1rem;
} */
#term-avatar,
#sarah-avatar {
  border-radius: 50%;
  border: 2px solid var(--clr-contrast1);
  margin-right: 10px;
}

.winner {
  /* background-color: #fff; */
  height: 2rem;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  /* padding: 1rem; */
  margin: 1rem 0;
}

.score-row {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
  padding: 1rem;
}
.score {
  display: flex;
}
#pscore,
#cscore {
  padding: 0 10px;
}
.inst {
  font-size: 1.5rem;
  color: purple;
  text-align: center;
  /* border: 2px solid blue; */
}
.victor {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: red;
  font-size: 3rem;
  align-self: center;
  padding: 3rem 0 1rem 0;
  display: none;
}
#playAgainBtn {
  color: var(--clr-contrast1);
  margin-top: 2rem;
  font-size: 1.5rem;
  /* width: 5rem; */
  padding: 5px 20px;
  background-image: linear-gradient(to left, #01209f, black);
  /* border: 1px solid black; */
  border-radius: 18px;
  text-align: center;
  transition: all ease-in-out 0.2s;
}
#playAgainBtn:hover {
  transform: scale(1.05);
}
#playAgainBtn:active {
  transform: scale(0.9);
}
/* .hidden {
  visibility: hidden;
  height: 0;
} */
#rps {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  /* border: 2px solid red; */
}
.rock,
.paper,
.scissors {
  /* background-color: blue; */
  padding: 0 3rem;
}
#rps img {
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
#rps img:hover {
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 30px var(--clr-midtone);
}
#rps img:active {
  transform: scale(0.8);
  box-shadow: 0px 0px 30px white;
}
/* footer start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #dcdcdc;
  background-color: black;
}
footer > div {
  padding: 1rem;
}
.footer-contact {
  color: #dcdcdc;
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
}
footer a,
footer .fab,
footer .fas,
footer img {
  /* text-decoration: none; */
  color: lightblue;
  transition: all 0.2s ease-in-out;
}
footer a:hover,
footer .fab:hover,
footer .fas:hover,
footer img:hover {
  transform: scale(1.1);
  color: yellow;
}
.footer-logo {
  width: 200px;
}
.footer-social {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.copyright {
  padding: 0.5rem 0;
}
/* footer end */

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    /* width: 100vw; */
  }
  /* .header-img {
    margin: 0 0 15px 0;
    width: 100%;
  } */

  .rock,
  .paper,
  .scissors {
    /* background-color: blue; */
    padding: 0 1rem;
  }
  #rps img {
    width: 75px;
    border-radius: 10px;
  }
  .choices {
    padding-top: 15px;
  }
  .score-row {
    flex-direction: column;
    justify-content: space-between;
  }
  #term-avatar,
  #sarah-avatar {
    margin: 0;
  }
  .choice-mobile {
    display: flex;
    flex-direction: column;
  }
  /* .choice-mobile > span {
    margin-right: 0;
  } */

  footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-contact {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .header-img {
    /* margin: 0; */
    /* width: 280px; */
    display: none;
  }
  .score-row {
    /* width: 100%; */
    /* height: 200px; */
    /* padding-top: 15px; */
    background-image: url("images/termvsSarah.jpg");
    background-size: cover;
  }
  .score-row > div {
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black,
      -1px 1px 0 black, 0px 1px 0 black, 1px 0px 0 black, 0px -1px 0 black,
      -1px 0px 0 black;
  }
  .winner {
    font-size: 1rem;
  }
  #rps {
    justify-content: space-around;
  }
  .rock,
  .paper,
  .scissors {
    /* background-color: blue; */
    padding: 0;
  }
}
